
*.vsidx
*.vsidx
*.vsidx
Clinic Mangement/.vs/Clinic Mangement/FileContentIndex/1b10cf0b-2ab8-4942-a1b7-41afadb8c39e.vsidx
*.vsidx
Clinic Mangement/.vs/Clinic Mangement/v17/.suo
Clinic Mangement/.vs/Clinic Mangement/v17/.suo
*.vsidx
